<!-- 
  The welcome page just introduces the user to the application and contains.
-->
<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab  ui-sref="home.welcome" icon-on="ion-ios7-filing" icon-off  ="ion-ios7-filing-outline">
    <!-- Welcome -->
    <ion-nav-view name="home-welcome"></ion-nav-view>
  </ion-tab>

  <ion-tab ui-sref="home.signup" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <!--Sign Up -->
    <ion-nav-view name="home-signup"></ion-nav-view>
  </ion-tab>

  <ion-tab ui-sref="home.login" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
    <!-- login -->
    <ion-nav-view name="home-login"></ion-nav-view>
  </ion-tab>

</ion-tabs>