<ion-view title="Join">
	<ion-content>
    <form name="user_register" class="my-form" novalidate>
		
        <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Username</span>



		    <input type="text" 
		    ng-model="user.name" 
		    name="user_name" 
		    ng-minlength=3 
		    required>
			<div class="email-error-container"
				ng-show="user_register.user_name.$dirty && user_register.user_name.$invalid">

				<small class="error"
					ng-show="user_register.user_name.$error.required">
					Your name is required!
				</small>
			
				<small class="error" 
					ng-show="user_register.user_name.$error.minlength">
					Username can not be less than 3 characters
				</small>
			</div>


          </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email</span>
		    <input type="text" name="email"ng-model="email"
		    required
		    placeholder="">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Password</span>
		    <input type="text" ng-model="password" required placeholder="">
		  </label>
		  <div class="button-padding">
		  <button type="submit" class="button button-block button-energized">
	  		Submit
		  </button>
		  </div>
		</div>
		</form>
		</div>
	</ion-content>
</ion-view>
