<ion-view title="Create Account">
	<ion-content>
	<form name="userRegister"
	ng-submit="submitForm(userRegister.$valid)" 
	novalidate>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Username</span>
		    <input type="text" 
		    name="user_name" 
		    ng-model="user_name"
		    required  
		    placeholder="">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email</span>
		    <input type="text"
		    name="email"
		    ng-model="email"
		    required
		    placeholder="">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Password</span>
		    <input type="text" ng-model="password" placeholder="">
		  </label>
		  <div class="button-padding">
		  <button type="submit" class="button button-block button-energized">
	  		Submit
		  </button>
		  </div>
		</div>
		</form>
	</ion-content>
</ion-view>