/* Empty. Add your own CSS if you like */

.button-padding {
	padding: 10px;
}

.my-form input.ng-invalid.ng-dirty {
	background-color: FA787E;
}


.my-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
 }